[user]
	name = "Vladislav Kuzmenko"
	email = vladislav.k@fxbackoffice.com
[init]
	defaultBranch = master
[pull]
	rebase = false
;[commit]
;	gpgsign = true
[push]
	default = current
	autoSetupRemote = true
[gpg]
	program = /opt/homebrew/bin/gpg
[url "ssh://git@github.com/dezer32"]
	insteadOf = https://github.com/dezer32
[core]
	excludesfile = /Users/vladislav.k/.gitignore
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
