.CFUserTextEncoding
.DS_Store
.Trash/
.cache/
.composer/
.dlv/
.gem/
.gnupg/
.kube/
.local/
.pass.key
.ssh/
.tldrc/
.vim/
.wakatime*.cfg
.wakatime/
.zcompcache/
.zcompdump
.zhistory
.zsh_history
.zsh_sessions/
Applications/
Code/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sync 
/*.log
/.bashrc
/.npm

.docker-sync-global.yml
.docker/
.fzf.bash
.fzf.zsh
.jetbrains.kdbx
.jetbrains.old.kdbx
.lesshst
.viminfo
.wakatime.bdb
.config
.zprofile

