.CFUserTextEncoding
.DS_Store
.Trash/
.cache/
.composer/
.dlv/
.gem/
.gnupg/
.kube/
.local/
.pass.key
.ssh/
.tldrc/
.vim/
.wakatime*.cfg
.wakatime/
.zcompcache/
.zcompdump
.zhistory
.zsh_history
.zsh_sessions/
Applications/
Code/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sync 
/*.log
/.bashrc

.bash_history
.calc_history
.cups/
.hushlogin
.iterm2_shell_integration.zsh
.maze-client.env
.mutagen/
.npm/
.pdepend/
.pearrc
.phive/
.swp
.syncthing/
.w3m/
.zsh_profile
Default.xml
OneDrive - Tec Fx Back Office Ltd
fxbo.gpg

.docker-sync-global.yml
.docker/
.fzf.bash
.fzf.zsh
.jetbrains.kdbx
.jetbrains.old.kdbx
.lesshst
.viminfo
.wakatime.bdb
.config
.iterm_profile.json
