[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigaate = true
  hyperlinks = true
[merge]
  conflictstyle = zdiff3
[user]
	name = Dezer
	email = my@ipro.dev
	signingkey = 27D207A8D450CBA4CE9BD75552F3A995CBB43450
[init]
	defaultBranch = master
[pull]
	rebase = false
[commit]
	gpgsign = true
[push]
	default = current
[gpg]
	program = /opt/homebrew/bin/gpg
; [url "ssh://git@github.com/dezer32"]
  ; insteadOf = https://github.com/dezer32
[safe]
	directory = /Users/dezer
